<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <title>KiiGuardian</title>
  <link href="{{ url_for('css', path='/style.css') }}" rel="stylesheet">
</head>

<body>

  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">KiiGuardian</a>
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">Kickin' It With KiiChain</a>
    <button id="connectButton" class="btn btn-primary">Connect to MetaMask</button>

  </header>

  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3 sidebar-sticky">
          <ul class="nav flex-column">
            <div class="container-fluid">
              <br>
              <p class="text-break">
                KiiGuardian is a blockchain-based project that uses sensors to measure CO2 emissions and GPS to track
                their location. The data collected by KiiGuardian is used to create a map of CO2 emissions around the
                world. This map is then used to raise awareness of the issue of climate change and motivate people to
                reduce their carbon footprint.
              </p>
            </div>
            <div class="text-center">
              <img src="{{ url_for('img', path='/KiiGuardian.png') }}" class="rounded mx-auto d-block" alt="logo_hack">
            </div>
            <div>
              <img src="img/KiiGuardian.png" class="rounded mx-auto d-block" alt="acala">
            </div>
            <div class="container-fluid">
              <h4 class="sidebar-heading d-flex justify-content-between mt-4 mb-1 text-muted text-uppercase">
                Last network node kiiNetwork:
              </h4>
              <p class="text-break">
                {{ln}}
              </p>
            </div>
            <div class="container-fluid">
              <h4 class="sidebar-heading d-flex justify-content-between mt-4 mb-1 text-muted text-uppercase">
                Wallet Pool Reward:
              </h4>
              <p class="text-break">
                0x48e72B52c0858E5dAb8b446A8399309C19a99F63
              </p>
            </div>
            <div class="container-fluid">
              <h4 class="sidebar-heading d-flex justify-content-between mt-4 mb-1 text-muted text-uppercase">
                Wallet Reward:
              </h4>
              <p class="text-break">
                0x1d870f1210e66cba98093682b84d4491Ec04141b
              </p>
            </div>
          </ul>
        </div>
      </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <br>
        <h4 class="h4">Dashboard</h4>

        <div class="mb-3 border rounded" style='padding: 16px;'>
          <div id='divPlotly'>
            <script>
              {{plot | safe}}
              Plotly.react('divPlotly', plotly_data.data, plotly_data.layout);
            </script>
          </div>
        </div>

        <div class="mb-3 border rounded" style='padding: 10px;'>
          <div class="container text-start" style='padding: 10px;'>
            <div class="row">
              <div class="col" style='padding: 4px;'>
                <h4 class="h4">¿How it works?</h4>
                <p class="text-start">
                  KiiGuardian is a blockchain-based project that uses an IoT device to measure the concentration of
                  carbon monoxide (CO2) and track CO2 emissions in different locations. The solution works in four key
                  steps:
                  IoT device: KiiGuardian uses an IoT device to measure the concentration of CO2. This device can be
                  installed in various locations, such as homes, offices, cars, bicycles, and other places.
                  Connection to the blockchain network: Once the IoT device is installed, it is connected to the
                  blockchain network to perform transactions. The blockchain network is a decentralized and secure
                  database that records all transactions made.
                  Measurement and tracking of CO2 emissions: The IoT device measures the concentration of CO2 and tracks
                  CO2 emissions in different locations. The collected data is used to create a map of CO2 concentration
                  around the world, which helps raise awareness about the problem of climate change and motivates people
                  to reduce their carbon footprint.
                  Reward system: KiiGuardian uses a reward system to incentivize users to reduce their carbon footprint.
                  When users manage to reduce their CO2 emissions below a specific target, it will deduct from the grant
                  account to the stake account. Users receive tokens as a reward for reducing their carbon footprint.
                  for contact:
                  <a href="mailto:jhonteajada95@gmail.com">Jhon Tejada</a>, <a href="mailto:oscarriojas@gmail.com">Oscar
                    Riojas</a>, <a href="mailto:luisf.maring0910@gmail.com">Luis Felipe Marin</a>, check repo in <a
                    href="https://github.com/Oriojas/kii_hackathon.git">CO2_KiiGuardian</a>
                </p>
              </div>
              <div class="col" style='padding: 0px;'>
                <h4 class="h4">Georeferencing</h4>
                <div id='divPlotly2'>
                  <script>
                    {{plot2 | safe}}
                    Plotly.react('divPlotly2', plotly_data2.data, plotly_data2.layout);
                  </script>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>

    </div>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="https://c0f4f41c-2f55-4863-921b-sdk-docs.github.io/cdn/metamask-sdk.js"></script>
  <script>
    const MMSDK = new MetaMaskSDK.MetaMaskSDK({
      dappMetadata: {
        name: "KiiGuardian",
        url: window.location.href,
      },
      infuraAPIKey: "your-infura-api-key", // Opcional
    });

    document.getElementById('connectButton').addEventListener('click', () => {
      const ethereum = MMSDK.getProvider();
      ethereum.request({ method: 'eth_requestAccounts' })
        .then(accounts => {
          console.log('Connected account:', accounts[0]);
          document.getElementById('connectButton').innerText = 'Connected';
        })
        .catch(error => {
          console.error('Error connecting to MetaMask', error);
        });
    });
  </script>
</body>

</html>